<!DOCTYPE html>
<html>
<head>
  <title>Calorie Intake Tracker</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="calorieApp" class="container">

  <div id="food-list"></div>
  <div id="search-list-view"></div>
</div>

<!-- templates -->
<script type="text/template" id="fooditem-view-template">
  <div class="food-item row">
    <div class="col-sm-4">
      <span><%= name %></span>
    </div>
    <div class="col-sm-2">
      <label>Serving</label>
      <label><%= serving %></label>
    </div>
    <div class="col-sm-2">
      <label>Calories</label>
      <label><%=  calories %></label>
    </div>
    <div class="col-sm-1">
      <button class="delete-food-item">X</button>
    </div>
  </div>
</script>

<script type="text/template" id="fooditem-list-view-template">
  <button class="searchFoodItem">Search for food items</button>
  <div class="foodItem-list-view">
    <div class="foodItem-list">
    </div>
    <div class="total-calories">
      <label>Total Calories</label>
      <label class="total-value"> </label>
    </div>
  </div>
</script>





<script type="text/template" id="search-view-template">
  <div class="row search-view">
    <div class="col-sm-4">
      <span><%= name %></span>
    </div>
    <div class="col-sm-2">
      <label>Serving</label>
      <label><%= serving %></label>
    </div>
    <div class="col-sm-2">
      <label>Calories</label>
      <label><%=  calories %></label>
    </div>
    <div class="col-sm-1">
      <input class="toggle" type="checkbox" <%= selected ? 'checked':'' %>>
    </div>
  </div>
</script>


<script type="text/template" id="search-list-view-template">
  <div class="search-list-view">
    <input type="text" placholder="enter food item to search" id="searchFoodItemInput">
    <button id="searchFoodItemButton">Search</button>
    <div class="search-results-list">
      <div class="search-results">
        
      </div>
    </div>
    <div>
      <button id="addFooditemButton">Add food items</button>
      <button id="cancelButton">Go back</button>
    </div>
  </div>
</script>




<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
<script type="text/javascript" src="bower_components/backbone/backbone.js"></script>
<script type="text/javascript" src="bower_components/backbone.localStorage/backbone.localStorage.js"></script>

<script type="text/javascript" src="foodItem-model.js"></script>
<script type="text/javascript" src="foodItem-collection.js"></script>
<script type="text/javascript" src="foodItem-search-collection.js"></script>
<script type="text/javascript" src="foodItem-view.js"></script>
<script type="text/javascript" src="foodItem-search-view.js"></script>
<script type="text/javascript" src="foodItem-search-list-view.js"></script>
<script type="text/javascript" src="foodItem-list-view.js"></script>
<script type="text/javascript" src="calorie-tracker-app-view.js"></script>

</body>
</html>